# Dependencies
node_modules/
package-lock.json

# Logs
Logs/
*.log
npm-debug.log*

# Scrapped Data
scrappedData/
*.png

# Environment variables
.env
.env.local
.env.*.local

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Debug files
debug/
*.debug